<div class="container p-4">
    <!--{% if user_using_mobile %}
        <div class="row" style="height: 70px"></div>
    {% endif %}-->
    <div class="row">
        <h1 class="col-12 text-center">Education</h1>
        <p class="col-12 text-justify text-center p-1">
            
        </p>
    </div>
    <div class="row">
        <p class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <b>ISEN Engineering School - Marseille<br>Master degree - Software Engineer in computing science</b><br>3 years
            <br><img src="../static/image/isen_logo.jpg" class="company-logo">
        </p>
        <p class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            Known as Yncrea now (since 2017), after three years I got my Software Engineer Master degree also as apprentice in Airbus Helicopters. I worked three days per week at Airbus Helicopters and attended two and a half days at school.
            During my studies, I was working in an association called Solar Car Solutions and I represented the school during several competitions.
            Finally, the main area of my Engineering degree is: computer-science, embedded system/programming, software project management (team, finance, planification, monitoring), how to develop on Linux, Web and Embedded system, mathematics and physics.
        </p>
    </div>
    <br><br>
    <div class="row">
        <p class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <b>Institue Universitaire de Technologies - Marseille<br>Diplôme Universitaire de Technologies option Electronique et Informatique Industriel</b><br>2 years
            <br><img src="../static/image/Univ_Aix-Marseille.png" class="company-logo">
        </p>
        <p class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            Equivalent to University in English, I got my DUT (Diplôme Universitaire Technique) after two years and three months as trainee at Airbus Helicopters in Paris, France.
            The main area was: computer-science, embedded programming, electronics and physics but also a lot of mathematics and all the basics regarding the telecommunication, networking system and logics.
        </p>
    </div>
    <br><br>
    <div class="row">
        <p class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <b>Lycée Pierre Mendes France - Vitrolles<br>Technical Bachelor degree (with honors)</b><br>2 years
            <br><img src="../static/image/lycee_pierre-mendes-france.jpeg" class="company-logo">
        </p>
        <p class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            The main focus was on computing-science and embedded programming but also electronics and physics.
        </p>
    </div>
</div>