<div class="container p-4">
    <!--{% if user_using_mobile %}
        <div class="row" style="height: 70px"></div>
    {% endif %}-->
    <div class="row">
        <p class="col-12 text-justify text-center p-1">
            Passionate about electronics and computer-sciences, I have done all my studies in these fields. I have proven interest in these sciences,
            I have been working for an association called Solar Car Solutions for more than two years. In addiction, I learn by myself how to develop (from scratch) website with the Django framework, HTML, CSS, JS but also Angular and SQL & NoSQL database.
            I would use the following words to describ myself:
        </p>
        <h5 class="col-4 text-justify text-center p-1">
            Autodidact
        </h5>
        <h5 class="col-4 text-justify text-center p-1">
            Flexible
        </h5>
        <h5 class="col-4 text-justify text-center p-1">
            Human
        </h5>
        <p class="col-12 text-justify text-center p-1">
            Professional, ambitious and quick learner I am able to adapt my skills and myself to different companies, processes and people. As you can see through my previous experience and mission, I did a lot of different tasks and I always accomplish them with success !<br>
            I went in Ireland two reasons: first, to improve my English since an engineer without decent knowledge of English cannot evolved during his career and secondly, to travel, have an international career and learn various ways of thinking and working.<br>
            Currently, I am writing the third chapter of this wonderful experience in Brisbane, Australia for the next year ...
        </p>
        <p class="col-12 text-justify text-center p-1">
            <b>Professionnal Profile:</b><br>
            Enterprise and software developer with over five years’ commercial experience<br>
            Extensive knowledge of systems engineering and integration<br>
            Consulting and client facing experience<br>
            Ardent observer of new technologies<br>
            Recognised throughout my professionalism and achieving results<br>
            Involved and hard worker but also quick learner<br>
        </p>
    </div>
</div>