<div class="container p-4">
    <!--{% if user_using_mobile %}
        <div class="row" style="height: 70px"></div>
    {% endif %}-->
    <div class="row">
        <h1 class="col-12 text-center">Experience</h1>
        <div class="col-12 text-justify text-center p-1">
            I have vast experience working with software development (C, C++, C# and Python) and I am passionate about all 
            fields of software development and architecture. I worked in embedded development but also in web software 
            development, giving me a dual set of skills in software development. I am twenty-five years old and I have already 
            more than five years in a company and my Master's degree. Furthermore, I have worked in an various companies, 
            association and as self-employed. I enjoy working with a pragmatic team of people, following Agile and Lean development 
            methodologies (Scrum) and regulary read up of new technologies and innovations.
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <b>Voxson - Brisbane, Australia<br>Principle Software Engineer</b><br>April 2019 to October 2019
            <br><img src="./assets/img/voxson_logo.png" class="company-logo">
        </div>
        <div class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <p><u>Responsabilities:</u> Develop from scratch an embedded system based and a web application to control and configure the system.
                I was in charge of the whole project, in details I have made the architecture, code, test, documentation, agile methodology and versionning.
            <p><b>Embedded system:</b> The system has to be able to measure car's speed, save it (online or offline) and display 
                a text, picture, speed or all three in a row on a LED RGB screen (size cuztomizable). The system was following
                a configuration made by the web application. The user can also schedule configuration and the system will applied them when
                required ; it could be a date, a day of the week but also a specific period of time during the day. To copy your configuration you have
                several options: by USB, Wi-Fi, Ethernet, 3G/4G or Bluetooth Low Energy (BLE).
            </p>
            <p>Regarding the embedded system itself, I used Buildroot to compile my Linux image. I code the driver who display content on
                the screen in C++ (Python was too slow) and the rest in Python 3.
            </p>
            <p><b>Web application:</b> The web application can be installed a system thanks to the framework Electron, who allow
                developper to run JavaScript as a normal software on a PC. In this application the user can create several configuration 
                and/or scheduling to send them on the system by Wi-Fi, Bluetooth Low Energy, Ethernet or 3G/4G. For the Bluetooth I was using Web-Bluetooth
                who allow recent web navigators to use Bluetooth Low Energy.
            </p>
            <p>Regarding the web application itself, I used Angular (TypeScript) with Electron (JavaScript) and of course HTML and CSS.
            </p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <b>Self-employment<br>Full-stack Software Engineer</b><br>September 2018 to present
        </div>
        <div class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <p><u>Responsabilities:</u> I develop personalized website or web application for my clients.</p>
            <p> Using Django or Angular framework (or even both if required), I develop website and web application from scratch to meet 
                my client's requirements. I am doing this on my freetime only.</p>
            <p>In addiction, I also manage the non-technical part: meet the client, discust with him and understand his needs and then, propose him a solution in his budget.</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <b>Klas Telecom - Dublin, Ireland<br>Embedded Linux Engineer</b><br>from September 2017 to March 2019
            <br><img src="./assets/img/KlasTelecom_Logo.jpg" class="company-logo">
        </div>
        <div class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <p><u>Responsabilities:</u> Embedded software development for networking applications on Linux real-time system with Cisco-like CLI.</p>
            <p>Here, I was involved in various technical tasks, like: integrating new functionnalities (MSTP, Radius authentication, ...) but also debbuging and improvement on the embbeded software and/or Linux library.</p>
            <p>In addiction, I was also involved in a large French business opportunity as technical and translator helper for the French engineer.</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <b>IBM - Dublin, Ireland<br>Digital Sales Specialist</b><br>from January to September 2017
            <br><img src="./assets/img/BM_logo.svg.png" class="company-logo">
        </div>
        <div class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <p><u>Responsabilities:</u>  Primary contact for pricing, deliveries and orders as well as looking for new opportunities.</p>
            <p>As a member of the sales team, I was responsible for maintaining good business relationships with a number of IBM's clients. My main role was to work with the client and the network engineer to manage and coordinate new and on-going projects. Pricing, tenders, complex delivery, client relationships and looking for new opportunities were all responsibilities included in my role. </p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12 col-12-sm col-4-lg text-justify text-center p-1">
            <b>Airbus Helicopters - Marignane, France<br>Software Engineer</b><br>from September 2013 to September 2016
            <br><img src="./assets/img/Airbus_Helicopters_logo.png" class="company-logo">
        </div>
        <div class="col-12 col-12-sm col-8-lg text-justify text-center p-1 pl-4">
            <p><u>Responsabilities:"%}</u> Client support for test benches and software research and development for future test benches</p>
            <p>I worked as an architect for a new generation of benches for Airbus Helicopters. This new generation had to be generic and connected across the Airbus Group network (around the country but also around the world). I worked in close collaboration with future clients and my head department but also with several senior engineers who had a lot of experience in development of benches. I had only one target: synchronise (in real-time) two benches located on different location, a great challenge. Over my three years, I was also a support client, when a client needs help or have a problem during the scenarios, I come on the bench and fix the problem.</p>
            <p><u>Research and development:"%}</u> I architected three different solutions but each solution had the same languages: C++, Python and C#. I had to manage several people to create my own test bench and my scenarios. I organized one progress meeting each week and implement the Scrum method at my team. Moreover, I had to think about the maintainability, testability and performance of my solution. </p>
            <p><u>Innovation project:"%}</u> It was my first project as an engineer, I had to develop a remote control system for the benches. The user could be control all benches from his laptop everywhere around the world with a secure connection. I worked in close collaboration with IT department regarding the secure access. The hardware and software part was under my responsibility but also the financial, project management and scheduling part. I am very proud of my first project; it was a success.</p>
            <p><u>Support client:"%}</u> In addiction to my other project, occasionally I had to help our customer on our benches. Unless a shutdown was necessary, but sometime I was required to investigate issues, debug software applications, troubleshoot network configurations, hardware configurations, software problems or any other issues.</p>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <b>Airbus Helicopters - Paris, France<br>Trainee technician</b><br>from April to June 2013
            <br><img src="./assets/img/Airbus_Helicopters_logo.png" class="company-logo">
        </div>
        <div class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <p><u></u></p>
            <p></p>
        </div>
    </div>
</div>
<div class="container p-4">
    <div class="row">
        <h4 class="col-12 text-center">Association & others projects</h4>
        <div class="col-12 text-justify text-center p-1">
            
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <b>Solar Car Solutions<br>Embedded Software Engineer</b><br>September 2014 September 2017)
            <br><img src="./assets/img/solar_car_solution_logo.jpeg" class="company-logo">
        </div>
        <div class="col-12 col-12-sm col-6-lg text-justify text-center p-1">
            <p><u>Mission:</u> Software integration of sensors, electrical engine and display management (from scratch)</p>
            <p>I was the junior engineer on the development team creating C solutions for the new SolarCarSolutions solar and electrical car. This was an advanced solar and electrical car because they had wone three times the European Championship, and we needed to develop a new architecture. The role required a deep understanding of physics and computing science and we had to make the consumption as small as possible.</p>
            <p>I was involved in all stages of the development (project, coding, testing and stabilisations/improvement) and after a few months I started as the new software focal point for SolarCarSolutions association. Of course, I was learning a lot of things and practice all the theory I had learned during my studies.</p>
        </div>
    </div>
</div>