<div class="container p-4">
    <!--{% if user_using_mobile %}
        <div class="row" style="height: 70px"></div>
    {% endif %}-->
    <div class="row">
        <h1 class="col-12 text-center">Contact</h1>
        <h4 class="col-12 text-center">Let's keep in touch!</h4>
        <p class="col-12 text-justify text-center p-1">
            Do not hesitate to contact me for further information by email or <a href="https://www.linkedin.com/in/raspaudalexandre/">LinkedIn</a>.
        </p>
    </div>
    <div class="row">
        <h4 class="col-12 text-center">My informations</h4>
        <p class="col-12 text-justify text-center p-1">
            Name: RASPAUD Alexandre
        </p>
        <p class="col-12 text-justify text-center p-1">
            Email: alexandre.raspaud@gmail.com
        </p>
        <p class="col-12 text-justify text-center p-1">
            Phone: no phone number, yet
        </p>
        <p class="col-12 text-justify text-center p-1">
            Date of birth: 8 September 1993
        </p>
        <p class="col-12 text-justify text-center p-1">
            Address: Somewhere in New-Zealand or Indonesia
        </p>
        <p class="col-12 text-justify text-center p-1">
            Nationality: French
        </p>
    </div>
    <!--
    <div class="row">
        <form method="post" class="col-12 text-center">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-lg">Send</button>
            </div>
        </form>
    </div>
    -->
</div>