<div class="container p-4">
    <!--{% if user_using_mobile %}
        <div class="row" style="height: 70px"></div>
    {% endif %}-->
    <div class="row">
        <div class="col-12 text-center">
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
        </div>
        <div class="col-12 text-center">
            <p>
                Python &nbsp;&nbsp;&nbsp;&nbsp; Bash &nbsp;&nbsp;&nbsp;&nbsp; Linux developement &nbsp;&nbsp;&nbsp;&nbsp; MacOS developement 
                &nbsp;&nbsp;&nbsp;&nbsp; Linux based on Debian (Mint, Ubuntu, Kali ...) &nbsp;&nbsp;&nbsp;&nbsp; Bash &nbsp;&nbsp;&nbsp;&nbsp; 
                Bash &nbsp;&nbsp;&nbsp;&nbsp; Bash

            </p>
        </div>


        <div class="col-12 text-center">
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
        </div>



        <div class="col-12 text-center">
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
        </div>



        <div class="col-12 text-center">
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
        </div>



        <div class="col-12 text-center">
            <fa-icon class="stars-color" [icon]="iconsList[0]" size="8x"></fa-icon>
        </div>
    </div>
</div>