<div class="container">
    <!--{% if user_using_mobile %}
        <div class="row" style="height: 70px"></div>
    {% endif %}-->
    <div class="row">
        <h1 class="col-12 text-center">Portfolio</h1>
    </div>
    <div class="row pt-5">
        <div class="col-12 text-center">
            <h4 class="">hairdresseremma.com</h4>
        </div>
        <div class="col-lg-6 col-sm-12 p-1">
            <img src="../static/image/hairdresseremma.png" class="website_img"/>
        </div>
        <div class="col-lg-6 col-sm-12 text-justify text-center p-1">
            Personal website coded for a mobile hairdresser based in Dublin (see https://www.facebook.com/EmmaCoiffeuse/). 
            It was my first webapp made for a client.
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-12 text-center">
            <h4 class="col-12 text-center">raspaud.net</h4>
        </div>
        <div class="col-lg-6 col-sm-12 p-1">
            <img src="../static/image/raspaud.png" class="website_img"/>
        </div>
        <p class="col-lg-6 col-sm-12 text-justify text-center p-1">
            Personal website coded for myself, the idea is to post technical articles in order to have a guide to fix basic and most common issues, like a to-do-if-list.
            This subdomain (cv.raspaud.net) is a part of this web-application.
        </p>
    </div>
    <div class="row pt-5">
        <div class="col-12 text-center">
            <h4 class="col-12 text-center">crea-terre-et-feu.fr</h4>
        </div>
        <div class="col-lg-6 col-sm-12 p-1">
            <img src="../static/image/crea-terre-et-feu.png" class="website_img"/>
        </div>
        <p class="col-lg-6 col-sm-12 text-justify text-center p-1">
            Personal website and shop (with integrate payment and cart) for a French self-entreprenor in South of France.
            She is making Raku sculture and ceramics, everything is 100% hand made.
        </p>
    </div>
    <div class="row pt-5">
        <div class="col-12 text-center">
            <h4 class="col-12 text-center">order-kwik.com</h4>
        </div>
        <div class="col-lg-6 col-sm-12 p-1">
            <img src="../static/image/order-kwik.png" class="website_img"/>
        </div>
        <p class="col-lg-6 col-sm-12 text-justify text-center p-1">
            Application to order in a pub, bar, restaurant or elsewhere foods, drinks or service.
            The web-application is developed to be very flexible and easy to use, like scan-choose-send. This image has been taken from a test-page.
        </p>
    </div>
</div>