<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="../../static/web/images/logo.png" />

    <title>Curriculum Vitae - RASPAUD Alexandre</title>

    <!-- Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 yellow-background d-none d-md-block bg-sidebar is-fixed fixed">
                <div class="sidebar-wrapper sidebar-max-height">
                    <ul class="sidebar-nav nav flex-column">
                        <li class="nav-item text-center pt-3">
                            <img src="./assets/img/moi.jpg" class="smallRoundedImage" height="75" width="75">
                        </li>
                        <li class="nav-item p-2 menu-item" 
                            [ngClass]="{
                                'selected-slide': isItSelectedSlide('index')
                            }"
                        >
                            <a class="nav-link active" (click)="setSlide('index')">
                                <i class="fas fa-home fa-lg"></i>
                                <span class="not-selected-slide">Home</span>
                            </a>
                        </li>
                        <li class="nav-item p-2 menu-item"
                            [ngClass]="{
                                'selected-slide': isItSelectedSlide('about')
                            }"
                        >
                            <a class="nav-link" (click)="setSlide('about')">
                                <i class="fas fa-user-tie fa-lg"></i>
                                <span class="not-selected-slide">About</span>
                            </a>
                        </li>
                        <li class="nav-item p-2 menu-item"
                            [ngClass]="{
                                'selected-slide': isItSelectedSlide('skills')
                            }"
                        >
                            <a class="nav-link"  (click)="setSlide('skills')">
                              <i class="fas fa-cogs fa-lg"></i>
                              <span class="not-selected-slide">Skills</span>
                            </a>
                        </li>
                        <li class="nav-item p-2 menu-item"
                            [ngClass]="{
                                'selected-slide': isItSelectedSlide('experience')
                            }"
                        >
                            <a class="nav-link"  (click)="setSlide('experience')">
                              <i class="fas fa-briefcase fa-lg"></i>
                              <span class="not-selected-slide">Experience</span>
                            </a>
                        </li>
                        <li class="nav-item p-2 menu-item"
                            [ngClass]="{
                                'selected-slide': isItSelectedSlide('education')
                            }"
                        >
                            <a class="nav-link"  (click)="setSlide('education')">
                              <i class="fas fa-graduation-cap fa-lg"></i>
                              <span class="not-selected-slide">Education</span>
                            </a>
                        </li>
                        <!--<li class="nav-item p-2 menu-item"
                            [ngClass]="{
                                'selected-slide': isItSelectedSlide('portfolio')
                            }"    
                        >
                            <a class="nav-link"  (click)="setSlide('portfolio')">
                              <i class="fas fa-folder-open fa-lg"></i>
                              <span class="not-selected-slide">Portfolio</span>
                            </a>
                        </li>-->
                        <li class="nav-item p-2 menu-item"
                            [ngClass]="{
                                'selected-slide': isItSelectedSlide('contact')
                            }"
                        >
                            <a class="nav-link"  (click)="setSlide('contact')">
                              <i class="fas fa-at fa-lg"></i>
                              <span class="not-selected-slide">Contact</span>
                            </a>
                        </li>
                        <!--<li class="nav-item p-2">
                            <a class="nav-link" href="Index">
                                <i class="fab fa-blogger-b fa-lg"></i>
                              <span>Blog</span>
                            </a>
                        </li>-->
                        <li class="col-12 text-center p-1">
                            <a href="https://www.linkedin.com/in/raspaudalexandre/"><i class="fab fa-linkedin fa-2x m-1"></i></a>
                            <a href="https://twitter.com/Alexandre_Rsp"><i class="fab fa-twitter-square fa-2x m-1"></i></a>
                            <a href="https://github.com/Rekoc"><i class="fab fa-github-square fa-2x m-1"></i></a>
                            <a href="https://stackoverflow.com/users/7292015/rekoc"><i class="fab fa-stack-overflow fa-2x m-1"></i></a>
                        </li>
                        <!--<li class="nav-item text-center">
                            <br>
                            <span>{% trans "Made by Raspaud" %}</span>
                        </li>-->
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto gradient-yellow col-lg-10 px-4">
                <p *ngIf="alert.display" class="text-center">
                    <ngb-alert [type]="alert.type" (close)="closeAlert()">{{ alert.message }}</ngb-alert>
                </p>
              <div *ngIf="_ === 'index'">
                <app-index></app-index>
              </div>
              <div *ngIf="_ === 'about'">
                <app-about></app-about>
              </div>
              <div *ngIf="_ === 'skills'">
                <app-skills></app-skills>
              </div>
              <div *ngIf="_ === 'experience'">
                <app-experience></app-experience>
              </div>
              <div *ngIf="_ === 'education'">
                <app-education></app-education>
              </div>
              <div *ngIf="_ === 'portfolio'">
                <app-portfolio></app-portfolio>
              </div>
              <div *ngIf="_ === 'contact'">
                <app-contact></app-contact>
              </div>
            </main>
        </div>
    </div>

    

</body>
<footer>

</footer>
</html>