<div class="container p-4">
    <!--{% if user_using_mobile %}
        <div class="row" style="height: 70px"></div>
    {% endif %}-->
    <div class="row">
        <h1 class="col-12 text-center">Home</h1>
        <img src="./assets/img/images/moi.jpg" class="roundedImage col-4 p-1"/>
        <p class="roundedImage col-1 p-1"></p>
        <p class="col-7 text-justify text-center p-1">
            Passionate about electronics and computer-sciences, I have done all my studies and jobs in these fields. 
            I have proven interest in these sciences, I have been working for an association called Solar Car Solutions for 
            more than two years and I am creating web-application for my clients. Professional, ambitious and quick learner I am 
            able to adapt my skills and myself to different companies, processes and people. 
        </p>
        <!--<p class="col-12 text-justify text-center p-1">
            You can follow me on:
        </p>
        <div class="col-12 text-justify text-center">
            <a class="pr-2" href="https://www.linkedin.com/in/raspaudalexandre/" target="_blank">
                <fa-icon [icon]="iconsList[0]" size="6x"></fa-icon>
            </a>
            <a href="https://twitter.com/Alexandre_Rsp" target="_blank">
                <i class="fab fa-twitter-square fa-4x m-1"></i>
            </a>
            <a class="pr-2" href="https://github.com/Rekoc" target="_blank">
                <fa-icon [icon]="iconsList[1]" size="6x"></fa-icon>
            </a>
            <a class="pr-2" href="https://stackoverflow.com/users/7292015/rekoc" target="_blank">
                <fa-icon [icon]="iconsList[2]" size="6x"></fa-icon>
            </a>
        </div>-->
    </div>
</div>